desktop.ini
Thumbs.db
*.aps
*.bak
*.cache
*.ilk
*.lib
*.log
*.ncb
*.obj
*.pch
*.sbr
*.sln.docstates
*.suo
*.tlb
*.tlh
*.user
*.vspscc
*.vssscc
*_i.c
*_p.c
.vs/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
artifacts/
obj/
packages/*